Q1. Create a New Database and Table for Employees

Task: Create a new database named company_db and Create a table named employees with the following
columns:
(Refer question paper for details)

In [ ]:
CREATE DATABASE company_db;

USE company_db;

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    salary INT,
    hire_date DATE
);

Q2. Insert Data into Employees Table

Task: Insert the following sample records into the employees
table: (Refer question paper for details)

In [ ]:
INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date)
VALUES
(101, 'Amit', 'Sharma', 'HR', 50000, '2020-01-15'),
(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22'),
(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11'),
(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01'),
(105, 'Arjun', 'Singh', 'Finance', 60000, '2022-02-10');

Q3. Display All Employee Records Sorted by Salary (Lowest to Highest)

Hint: Use the ORDER BY
clause on the salary column.

In [ ]:
SELECT *
FROM employees
ORDER BY salary ASC;

Q4. Show Employees Sorted by Department (A–Z) and Salary (High → Low)

In [ ]:
SELECT *
FROM employees
ORDER BY department ASC, salary DESC;

Q5. List All Employees in the IT Department, Ordered by Hire Date (Newest First)

In [ ]:
SELECT *
FROM employees
WHERE department = 'IT'
ORDER BY hire_date DESC;

Q6. Create and Populate a Sales Table

Task: Create a table sales
to track sales data: (Refer question paper for details)

In [ ]:
CREATE TABLE sales (
    sale_id INT PRIMARY KEY,
    customer_name VARCHAR(50),
    amount INT,
    sale_date DATE
);

In [ ]:
INSERT INTO sales (sale_id, customer_name, amount, sale_date)
VALUES
(1, 'Aditi', 1500, '2024-08-01'),
(2, 'Rohan', 2200, '2024-08-03'),
(3, 'Aditi', 3500, '2024-09-05'),
(4, 'Meena', 2700, '2024-09-15'),
(5, 'Rohan', 4500, '2024-09-25');

Q7. Display All Sales Records Sorted by Amount (Highest → Lowest)

Hint: Use ORDER BY amount DESC.

In [ ]:
SELECT *
FROM sales
ORDER BY amount DESC;

Q8. Show All Sales Made by Customer “Aditi”

Hint: Use WHERE customer_name = 'Aditi'.

In [ ]:
SELECT *
FROM sales
WHERE customer_name = 'Aditi';

Q9. What is the Difference Between a Primary Key and a Foreign Key?

Primary Key

1. Uniquely identifies each record in a table
2. Cannot contain NULL values
3. Each table can have only one primary key


Foreign Key

1. Used to link one table to another
2. Refers to the primary key of another table
3. Can contain duplicate and NULL values

Q10. What Are Constraints in SQL and Why Are They Used?

Constraints are rules applied to table columns to ensure data accuracy and integrity.

Common SQL constraints:

* PRIMARY KEY – Unique identification of records
* NOT NULL – Prevents NULL values
* UNIQUE – Ensures all values are different
* CHECK – Limits the values allowed
* DEFAULT – Assigns a default value
* FOREIGN KEY – Maintains relationship between tables


Following are the reasons why they are used:

1. To maintain data consistency
2. To prevent invalid data entry
3. To enforce business rules